In [1]:
#connect to mysql database
from mysql import connector
myconnection =connector.connect(
    host="localhost",
    user="root",
    password="123456789",
    database ="Redbus"
)
cursor = myconnection.cursor()
cursor

In [2]:
import pandas as pd

In [3]:
import pandas as pd
import glob
df1 = pd.read_csv("ap_bus_details.csv")
df2 = pd.read_csv("assam_bus_details.csv")
df3 = pd.read_csv("chandigarh_bus_details.csv")
df4 = pd.read_csv("Haryana_bus_details.csv")
df5 = pd.read_csv("kadamba_bus_details.csv")
df6 = pd.read_csv("kerala_bus_details.csv")
df7 = pd.read_csv("Rajasthan_bus_details.csv")
df8 = pd.read_csv("west bengal_bus_details.csv")
df9 = pd.read_csv("Telangana_bus_details.csv")
df10 = pd.read_csv("up_bus_details.csv")

In [4]:
filepaths_df=[df1,df2,df3,df4,df5,df6,df7,df8,df9,df10]
combined_df=pd.concat(filepaths_df,ignore_index=True)
combined_df

,Route_Name,Route_Link,Bus_Name,Bus_Type,Departing_Time,Duration,Reaching_Time,Star_Rating,Price,Seat_Availability
0,Chittoor (Andhra Pradesh) to Bangalore,https://www.redbus.in/bus-tickets/chittoor-and...,APSRTC - 5118,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",01:30,02h 50m,04:20,3.1,INR 277,25 Seats available
1,Chittoor (Andhra Pradesh) to Bangalore,https://www.redbus.in/bus-tickets/chittoor-and...,APSRTC - 9035,Express(Non AC Seater),04:00,03h 00m,07:00,4.2,INR 186,45 Seats available
2,Chittoor (Andhra Pradesh) to Bangalore,https://www.redbus.in/bus-tickets/chittoor-and...,APSRTC - 9057,Express(Non AC Seater),04:30,03h 15m,07:45,4.1,INR 186,42 Seats available
3,Chittoor (Andhra Pradesh) to Bangalore,https://www.redbus.in/bus-tickets/chittoor-and...,APSRTC - 9129,Express(Non AC Seater),05:00,03h 25m,08:25,3.7,INR 186,45 Seats available
4,Chittoor (Andhra Pradesh) to Bangalore,https://www.redbus.in/bus-tickets/chittoor-and...,APSRTC - 9037,Express(Non AC Seater),05:30,03h 25m,08:55,4.0,INR 186,43 Seats available
...,...,...,...,...,...,...,...,...,...,...
8269,Shahjahanpur (Uttar Pradesh) to Delhi,https://www.redbus.in/bus-tickets/shahjahanpur...,UPSRTC - STD0072,Janrath AC Seater 2+2,22:40,07h 05m,05:45,2.5,INR 818,35 Seats available
8270,Shahjahanpur (Uttar Pradesh) to Delhi,https://www.redbus.in/bus-tickets/shahjahanpur...,UPSRTC - LKM0401,Shatabdi AC Seater 2+2,23:15,06h 59m,06:14,3.3,INR 818,35 Seats available
8271,Shahjahanpur (Uttar Pradesh) to Delhi,https://www.redbus.in/bus-tickets/shahjahanpur...,UPSRTC - KSB0221,Shatabdi AC Seater 2+2,23:30,06h 30m,06:00,3.3,INR 818,37 Seats available
8272,Shahjahanpur (Uttar Pradesh) to Delhi,https://www.redbus.in/bus-tickets/shahjahanpur...,UPSRTC - GND0100,Ordinary Non AC Seater 2+3,23:55,08h 05m,08:00,3.3,INR 586,52 Seats available
8273,Shahjahanpur (Uttar Pradesh) to Delhi,https://www.redbus.in/bus-tickets/shahjahanpur...,RS YADAV SMART BUS,Bharat Benz A/C Seater /Sleeper (2+1),22:45,07h 10m,05:55,4.7,INR 999,22 Seats available

In [5]:
combined_df.isnull().sum()

Route_Name           0
Route_Link           0
Bus_Name             0
Bus_Type             0
Departing_Time       0
Duration             0
Reaching_Time        0
Star_Rating          0
Price                0
Seat_Availability    0
dtype: int64

In [6]:
combined_df= combined_df.dropna() #drop null values

In [7]:
combined_df = combined_df.fillna(0) # Replace null values with 0

In [8]:
combined_df['Price'] = combined_df['Price'].fillna(0)
combined_df

,Route_Name,Route_Link,Bus_Name,Bus_Type,Departing_Time,Duration,Reaching_Time,Star_Rating,Price,Seat_Availability
0,Chittoor (Andhra Pradesh) to Bangalore,https://www.redbus.in/bus-tickets/chittoor-and...,APSRTC - 5118,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",01:30,02h 50m,04:20,3.1,INR 277,25 Seats available
1,Chittoor (Andhra Pradesh) to Bangalore,https://www.redbus.in/bus-tickets/chittoor-and...,APSRTC - 9035,Express(Non AC Seater),04:00,03h 00m,07:00,4.2,INR 186,45 Seats available
2,Chittoor (Andhra Pradesh) to Bangalore,https://www.redbus.in/bus-tickets/chittoor-and...,APSRTC - 9057,Express(Non AC Seater),04:30,03h 15m,07:45,4.1,INR 186,42 Seats available
3,Chittoor (Andhra Pradesh) to Bangalore,https://www.redbus.in/bus-tickets/chittoor-and...,APSRTC - 9129,Express(Non AC Seater),05:00,03h 25m,08:25,3.7,INR 186,45 Seats available
4,Chittoor (Andhra Pradesh) to Bangalore,https://www.redbus.in/bus-tickets/chittoor-and...,APSRTC - 9037,Express(Non AC Seater),05:30,03h 25m,08:55,4.0,INR 186,43 Seats available
...,...,...,...,...,...,...,...,...,...,...
8269,Shahjahanpur (Uttar Pradesh) to Delhi,https://www.redbus.in/bus-tickets/shahjahanpur...,UPSRTC - STD0072,Janrath AC Seater 2+2,22:40,07h 05m,05:45,2.5,INR 818,35 Seats available
8270,Shahjahanpur (Uttar Pradesh) to Delhi,https://www.redbus.in/bus-tickets/shahjahanpur...,UPSRTC - LKM0401,Shatabdi AC Seater 2+2,23:15,06h 59m,06:14,3.3,INR 818,35 Seats available
8271,Shahjahanpur (Uttar Pradesh) to Delhi,https://www.redbus.in/bus-tickets/shahjahanpur...,UPSRTC - KSB0221,Shatabdi AC Seater 2+2,23:30,06h 30m,06:00,3.3,INR 818,37 Seats available
8272,Shahjahanpur (Uttar Pradesh) to Delhi,https://www.redbus.in/bus-tickets/shahjahanpur...,UPSRTC - GND0100,Ordinary Non AC Seater 2+3,23:55,08h 05m,08:00,3.3,INR 586,52 Seats available
8273,Shahjahanpur (Uttar Pradesh) to Delhi,https://www.redbus.in/bus-tickets/shahjahanpur...,RS YADAV SMART BUS,Bharat Benz A/C Seater /Sleeper (2+1),22:45,07h 10m,05:55,4.7,INR 999,22 Seats available

In [9]:
# Remove Duplicates
combined_df = combined_df.drop_duplicates()

In [10]:
# Remove the 'INR' and any spaces, then convert to float
combined_df['Price'] = combined_df['Price'].str.replace('INR', '').str.replace(' ', '').astype(float)

# Check the updated data types
print(combined_df.dtypes)

Route_Name            object
Route_Link            object
Bus_Name              object
Bus_Type              object
Departing_Time        object
Duration              object
Reaching_Time         object
Star_Rating          float64
Price                float64
Seat_Availability     object
dtype: object

C:\Users\DELL\AppData\Local\Temp\ipykernel_19928\1690412588.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_df['Price'] = combined_df['Price'].str.replace('INR', '').str.replace(' ', '').astype(float)

In [11]:
combined_df.dtypes

Route_Name            object
Route_Link            object
Bus_Name              object
Bus_Type              object
Departing_Time        object
Duration              object
Reaching_Time         object
Star_Rating          float64
Price                float64
Seat_Availability     object
dtype: object

In [12]:
# Use .loc[] to avoid the SettingWithCopyWarning
combined_df.loc[:, ['Departing_Time', 'Reaching_Time']] = combined_df[['Departing_Time', 'Reaching_Time']].astype('string')

# Check the updated data types
print(combined_df.dtypes)

Route_Name            object
Route_Link            object
Bus_Name              object
Bus_Type              object
Departing_Time        object
Duration              object
Reaching_Time         object
Star_Rating          float64
Price                float64
Seat_Availability     object
dtype: object

In [13]:
combined_df.to_csv("combined_data.csv", index=False)
combined_df

,Route_Name,Route_Link,Bus_Name,Bus_Type,Departing_Time,Duration,Reaching_Time,Star_Rating,Price,Seat_Availability
0,Chittoor (Andhra Pradesh) to Bangalore,https://www.redbus.in/bus-tickets/chittoor-and...,APSRTC - 5118,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",01:30,02h 50m,04:20,3.1,277.0,25 Seats available
1,Chittoor (Andhra Pradesh) to Bangalore,https://www.redbus.in/bus-tickets/chittoor-and...,APSRTC - 9035,Express(Non AC Seater),04:00,03h 00m,07:00,4.2,186.0,45 Seats available
2,Chittoor (Andhra Pradesh) to Bangalore,https://www.redbus.in/bus-tickets/chittoor-and...,APSRTC - 9057,Express(Non AC Seater),04:30,03h 15m,07:45,4.1,186.0,42 Seats available
3,Chittoor (Andhra Pradesh) to Bangalore,https://www.redbus.in/bus-tickets/chittoor-and...,APSRTC - 9129,Express(Non AC Seater),05:00,03h 25m,08:25,3.7,186.0,45 Seats available
4,Chittoor (Andhra Pradesh) to Bangalore,https://www.redbus.in/bus-tickets/chittoor-and...,APSRTC - 9037,Express(Non AC Seater),05:30,03h 25m,08:55,4.0,186.0,43 Seats available
...,...,...,...,...,...,...,...,...,...,...
8269,Shahjahanpur (Uttar Pradesh) to Delhi,https://www.redbus.in/bus-tickets/shahjahanpur...,UPSRTC - STD0072,Janrath AC Seater 2+2,22:40,07h 05m,05:45,2.5,818.0,35 Seats available
8270,Shahjahanpur (Uttar Pradesh) to Delhi,https://www.redbus.in/bus-tickets/shahjahanpur...,UPSRTC - LKM0401,Shatabdi AC Seater 2+2,23:15,06h 59m,06:14,3.3,818.0,35 Seats available
8271,Shahjahanpur (Uttar Pradesh) to Delhi,https://www.redbus.in/bus-tickets/shahjahanpur...,UPSRTC - KSB0221,Shatabdi AC Seater 2+2,23:30,06h 30m,06:00,3.3,818.0,37 Seats available
8272,Shahjahanpur (Uttar Pradesh) to Delhi,https://www.redbus.in/bus-tickets/shahjahanpur...,UPSRTC - GND0100,Ordinary Non AC Seater 2+3,23:55,08h 05m,08:00,3.3,586.0,52 Seats available
8273,Shahjahanpur (Uttar Pradesh) to Delhi,https://www.redbus.in/bus-tickets/shahjahanpur...,RS YADAV SMART BUS,Bharat Benz A/C Seater /Sleeper (2+1),22:45,07h 10m,05:55,4.7,999.0,22 Seats available

In [17]:
import mysql.connector
import pandas as pd

# Connect to MySQL
myconnection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123456789",
    database="Redbus"
)
cursor = myconnection.cursor()

# Create the table only if it doesn't exist
cursor.execute("""
    CREATE TABLE IF NOT EXISTS bus_routes (
        route_name VARCHAR(255),
        route_link VARCHAR(255),
        bus_name VARCHAR(255),
        bus_type VARCHAR(255),
        departing_time VARCHAR(50),
        duration VARCHAR(50),
        reaching_time VARCHAR(50),
        star_rating FLOAT,
        price FLOAT,
        seat_availability VARCHAR(255)
    )
""")

# Load data and insert into the table
combined_df = pd.read_csv("combined_data.csv")

for i, row in combined_df.iterrows():
    try:
        cursor.execute("""
            INSERT INTO bus_routes (route_name, route_link, bus_name, bus_type, departing_time, 
                                    duration, reaching_time, star_rating, price, seat_availability)
            VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
        """, (
            row['Route_Name'], 
            row['Route_Link'], 
            row['Bus_Name'], 
            row['Bus_Type'], 
            row['Departing_Time'], 
            row['Duration'], 
            row['Reaching_Time'], 
            row['Star_Rating'], 
            row['Price'], 
            row['Seat_Availability']
        ))
    except Exception as e:
        print(f"Error: {e}")

# Commit changes and close connection
myconnection.commit()
cursor.close()
myconnection.close()

print("Data inserted successfully into the MySQL database!")

Data inserted successfully into the MySQL database!